*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(4, 1, 32),rgb(70, 3, 58));
    height: 100vh;
    font-family: system-ui;
}

section {
    background: url(stars1.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
   text-align: center; 
}

ul:hover li a{
    opacity: 0;
}

ul li {
    list-style: none;
    margin: 14px 0;
}

ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
    background: darkblue;
    padding: 6px 15px;
    border-radius: 20px;
    display: block;
    transition: 0.5s;
    width: 120px;
    position: relative;
    z-index: 10;
}

ul li a:hover {
   transform : scale(1.5);
   background: darkmagenta;
   opacity: 1;
}

ul li::after{
    color: antiquewhite;
    content: attr(data-text);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    pointer-events: none;
    letter-spacing: 50px;
    transition: 0.5s;
}

ul li:hover:after{
    opacity: 0.5;
    letter-spacing: 5px;
}

ul li::before{
    content: '';
    width: 180px;
    height: 80px;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    right: 50%; 
    transform: translate(-50%,80%);
    border-radius: 50%;
    box-shadow: 0 0 80px orangered;
    opacity: 0;
    transition: 0.5s;
}

ul li:hover::before{
    opacity: 0.5;
    width: 80px;
}
